<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../static/img/logo.png" type="image/png" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/footer.css" />
    <link rel="stylesheet" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/about.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLP Assistant</title>
  </head>
  <body>
    <header>
      <div class="head-color"></div>
      <div class="logo"></div>
      <nav>
        <a href="http://127.0.0.1:5000/slp_assistant">HOME</a>
        <a href="http://127.0.0.1:5000/slp_assistant/about">ABOUT</a>
        <a href="http://127.0.0.1:5000/slp_assistant/contact">CONTACT</a>
      </nav>
    </header>

    <!-- About Us Section -->
    <div id="about-us" class="container">
      <h2>Who we are</h2>
      <p>
        We are Students at ALX Software Engineering program, and this project is done as a portfolio project for the program. We are a team of 2 students who are passionate about technology and its application in solving real-world problems. We hope our project will be of great help to Speech-Language Pathologists (SLPs) in their invaluable work.
      </p>
      <br />
      <h2>Welcome to SLP Assistant</h2>
      <p>
        At SLP Assistant, we stand as a beacon of support and a dedicated resource for Speech-Language Pathologists (SLPs). Recognizing the challenges faced by SLPs in their invaluable work, we set out to make their journey smoother and more efficient.
      </p>
      <p>
        Our mission is simple yet profound: to empower Speech-Language Pathologists in their assessments and daily practice. We understand that one of the challenges SLPs encounter is the time-consuming task of searching for and navigating through the Integrated Scales of Development during assessments. That's where SLP Assistant comes in.
      </p>
      <br />
      <h3>Our Mission: Empowering SLPs</h3>
      <p>
        Our mission is simple yet profound: to empower Speech-Language Pathologists in their assessments and daily practice. We understand that one of the challenges SLPs encounter is the time-consuming task of searching for and navigating through the Integrated Scales of Development during assessments. That's where SLP Assistant comes in.
      </p>
      <br />
      <h3>Streamlined Access to Integrated Scales of Development</h3>
      <p>
        Imagine having a seamless, efficient way to access the crucial data you need for assessments, without the hassle of searching through multiple resources. SLP Assistant is designed to provide SLPs with an easy-to-use platform for quick access to the Integrated Scales of Development. Say goodbye to the frustration of flipping through pages or scrolling endlessly – we've curated a user-friendly interface that allows you to navigate effortlessly through the scales.
      </p>
      <br />
      <p>
        At SLP Assistant, we believe in being more than just a website. We aspire to be your partner in progress, supporting you in delivering the best care to those you serve. Our commitment is to continuously enhance and expand our platform to meet the evolving needs of SLPs.
      </p>
    </div>

    <footer>
      <p class="copyright">&copy; 2023 SLP Assistant</p>
    </footer>
  </body>
</html>
