<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../static/img/logo.png" type="image/png" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/footer.css" />
    <link rel="stylesheet" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLP Assistant</title>
  </head>
  <body>
    <!--Nav bar-->
    <header>
      <div class="head-color"></div>
      <div class="logo"></div>
      <nav>
        <a href="https://slp-assistant.hlbs0k72u.tech/">HOME</a>
        <a href="https://slp-assistant.hlbs0k72u.tech/about">ABOUT</a>
        <a href="https://slp-assistant.hlbs0k72u.tech/contact">CONTACT</a>
      </nav>
    </header>
    <!--About cards-->
    <div class="containter">
      <div class="business-cards">
        <!--Yasmeen-->
        <div class="business-card">
          <img
            src="../static/img/yasmeen2.png"
            alt="Yasmeen hany"
            class="profile-pic"
          />
          <div class="info">
            <h2>Yasmeen Hany</h2>
            <p class="title">Developer</p>
            <p class="description">
              A student at the faculty of engineering in suez canal university, 
              specialized in computer engineering. Currently an ALX SE student, 
              passionately working towards becoming a skilled software engineer.
              enjoys exploring new technologies, and honing my programming skills. 
            </p>
            <div class="social-media">
              <a
                href="https://www.linkedin.com/in/yasmeen-hany14/"
                target="_blank"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a href="https://github.com/Eileanora" target="_blank"
                ><i class="fa fa-github"></i
              ></a>
              <a href="mailto:yasmeenhany14@gmail.com" target="_blank"
                ><i class="fa fa-envelope"></i
              ></a>
            </div>
          </div>
        </div>
        <!--Alaa-->
        <div class="business-card">
          <img
            src="../static/img/alaa2.png"
            alt="Alaa ayman"
            class="profile-pic"
          />
          <div class="info">
            <h2>Alaa Ayman</h2>
            <p class="title">Developer</p>
            <p class="description">
              A graduate from the faculty of arts in Alexandria university,
              specialized in phonetics and linguistics. Currently an ALX SE
              student, who is passionate about software engineering,
              computational linguistics, and speech-language pathology.
              Enthusiastically seeking to merge these diverse interests into a
              cohesive and impactful career journey.
            </p>
            <div class="social-media">
              <a
                href="https://www.linkedin.com/in/alaa-ayman-75b730266/"
                target="_blank"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a href="https://github.com/AlaaAymanAbdElRaheem" target="_blank"
                ><i class="fa fa-github w3-hover-opacity"></i
              ></a>
              <a href="mailto:alaa251996@gmail.com" target="_blank"
                ><i class="fa fa-envelope"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p class="copyright">&copy; 2023 SLP Assistant</p>
    </footer>
  </body>
</html>
