<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/img/logo.png" type="image/png" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/footer.css" />
    <link rel="stylesheet" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/result.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script
      type="text/javascript"
      src="../static/scripts/slp_assistant.js"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLP Assistant</title>
  </head>
  <body>
    <header>
     <div class="body-container">
      <div class="head-color"></div>
      <div class="logo"></div>
      <nav>
        <a href="https://slp-assistant.hlbs0k72u.tech/">HOME</a>
        <a href="https://slp-assistant.hlbs0k72u.tech/about">ABOUT</a>
        <a href="https://slp-assistant.hlbs0k72u.tech/contact">CONTACT</a>
      </nav>    
    </header>

    <div class="containter">
      <p class="description">
         Integrated Scales of Development from Listen Learn and Talk
      </p>
      <div class=/slp_assistant/about"select-container">
        <select class="age-range">
          <option selected="selected" disabled="disabled">
            Please choose an age
          </option>
          {% for age_range in age_ranges %}
          <option data-id="{{ age_range.id }}">
            {{ age_range.age_from }} to {{ age_range.age_to }} Months
          </option>
          {% endfor %}
        </select>
        <span class="select-arrow">&#x25BC;</span>
      </div>
      <div class="result-container">
        <p class="age-result-text"></p>
        <!-- This is the result of the age range -->
        <table class="table">
          <thead class="table-head">
            <tr>
              {% for category in categories %}
              <th>{{ category.name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="table-body">
            <tr>
              <td class="listening"></td>
              <td class="receptive_language"></td>
              <td class="expressive_language"></td>
              <td class="speech"></td>
              <td class="cognition"></td>
              <td class="social_communication"></td>
            </tr>
          </tbody>
        </table>

        <div class="button-container">
          <button type="button" class="prev-age-button">Previous</button>
          <button type="button" class="next-age-button">Next</button>
        </div>
      </div>
    </div>
    <footer>
      <p class="copyright">&copy; 2023 SLP Assistant</p>
    </footer>
    </div>
  </body>
</html>
