/* common contaniers */
body {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.containter {
  margin: 0 auto;
  max-width: 90%;
  position: relative;
}

.age-range {
  border: none;
  appearance: none;
  height: 60px;
  width: 40%;
  margin-left: 30%;
  margin-top: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 20px;
  background-image: linear-gradient(RGBA(37, 20, 37, 1), RGBA(1, 6, 19, 1));
  color: #d08bde;
  font-size: 20px;
}

option {
  font-size: 20px;
  text-align: center;
}


.description {
  font-size: 24px;
  margin-top: 40px;
  text-align: center;
  color: #7c378a;
  font-style: bold;
}

.button-container .next-age-button,
.button-container .prev-age-button {
  display: inline-block;
  border-radius: 12px;
  border: none;
  color: white;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  margin: 4px 260px;
  cursor: pointer;
  width: 150px;
  font-size: 17px;
  background-image: linear-gradient(RGBA(37, 20, 37, 1), RGBA(1, 6, 19, 1));
  color: #d08bde;
}

.button-container {
  display: flex;
  justify-content: center;
}

/* coustomizing mobile view */
@media only screen and (max-width: 600px) {
  .body-container {
    width: 100%;
  }
  .containter {
    width: 90%;
  }

  .age-range {
    width: 80%;    /* white-space: nowrap; */
    margin-left: 10%;
  }

  .button-container .next-age-button,
  .button-container .prev-age-button {
    margin: 4px 10px;
  }

  .description {
    margin-left: 10%;
  }

  .select-arrow {
    padding: 10px;
  }

  .button-container {
    margin-right: 70px;
  }

  .button-container .next-age-button,
  .button-container .prev-age-button {
    width: 100px;
  }

  .button-container .next-age-button {
    margin-left: 20px;
  }

  .button-container .prev-age-button {
    margin-right: 20px;
  }

  .result-container {
    margin-left: 10%;
  }

  .result-container .age-result-text {
    font-size: 20px;
    margin-right: 70px;
  }

  .result-container table {
    width: 80%;
  }

  .result-container th {
    font-size: 15px;
  }

  .result-container td {
    font-size: 15px;
  }

  nav {
    font-size: 11px;
    right: 5px;
  }

  .logo {
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
    top: 0;
    left: 0;
  }

  header {
    width: 100%;
  }

  table {
    display: block;
    table-layout: fixed;
    overflow-x: auto;
  }
}

@media only screen and (max-width: 400px) {
  .body-container {
    width: 100%;
  }
  .containter {
    width: 90%;
  }

  .age-range {
    width: 80%;
    margin-left: 10%;
  }

  .button-container .next-age-button,
  .button-container .prev-age-button {
    margin: 4px 10px;
  }

  .description {
    margin-left: 10%;
  }

  .select-arrow {
    padding: 10px;
  }

  .button-container {
    margin-right: 70px;
  }

  .button-container .next-age-button,
  .button-container .prev-age-button {
    width: 100px;
  }

  .button-container .next-age-button {
    margin-left: 20px;
  }

  .button-container .prev-age-button {
    margin-right: 20px;
  }

  .result-container {
    margin-left: 10%;
  }

  .result-container .age-result-text {
    font-size: 20px;
    margin-right: 70px;
  }

  .result-container table {
    width: 80%;
  }

  .result-container th {
    font-size: 15px;
  }

  .result-container td {
    font-size: 15px;
  }

  nav {
    font-size: 11px;
    right: 5px;
  }

  .logo {
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
    top: 0;
    left: 0;
  }

  header {
    width: 100%;
  }

  table {
    display: block;
    table-layout: fixed;
    overflow-x: auto;
  }
}
