.result-container {
  visibility: hidden;
  width: 100%;
  /* overflow-x: scroll; */
}

.age-result-text {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  color: #7c378a;
}
.select-arrow {
  position: relative;
  top: 7px;
  margin-left: -65px;
  font-size: 40px;
  display: inline-block;
  color: #d08bde;
}
table {
  /* display: block; */
  border-collapse: separate;
  border-spacing: 0;
  border: solid #97898d 1px;
  border-radius: 10px;
  table-layout: fixed;
  width: 100%;
  /* max-width: -moz-fit-content;
  max-width: fit-content; */
  /* overflow-x: auto; */

  /* margin-right: 0%; */
  margin-top: 20px;
}
th,
td {
  border-left: solid #97898d 1px;
  width: 100px;
  /* border-top: solid #97898d 1px; */
}

td:first-child,
th:first-child {
  border-left: none;
}

th {
  height: 50px;
  text-align: center;
  background: #ff9379;
  border-bottom: #97898d 1px solid;
  border-radius: 10px;
}

td {
  height: 400px;
  padding-left: 10px;
  vertical-align: top;
  text-align: left;
  overflow: hidden;
  /* text-overflow: ellipsis;
  white-space: nowrap; */
}
